html {
	background-color: black;
}

#console {
	font-family: courier, monospace;
	color: white;
	width: 80ch;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-size: 0.8em;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

/*Phone or very small window */
@media only screen and (max-device-width : 940px), screen and (max-width : 700px) {
	#console {
		font-size: 2em;
		width: 100%;
	}
}